<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My firts CRUD</title>
</head>
<body>
    
    <h2>Registrar<h2>
        
        <form action="/show" method="POST"> <!--[action] vai informar o redirecionamentodo [app Express], que é para [/show],
                                                e [method] informa ao navegador qual solicitação enviar, que nesse caso é POST-->

            <input type="text" placeholder="Nome" name="name">
            <input type="text" placeholder="Sobrenome" name="surname">
            <button type="submit">Submit</button>
        </form> 

</body>
</html>